
.anime-episode {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .2s;
  text-transform: uppercase;
  font-weight: 600;
}

.anime-episode-left {
  position: relative;
  width: 100%;
}

.anime-episode-left img {
  width: 30%;
  height: 12vw;
  max-width: 220px;
  max-height: 100px;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
}

.anime-episode-left .play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(10, 10, 10, 0.6);
  width: 30%;
  height: 100%;
  font-size: 2em;
  max-width: 220px;
  max-height: 100px;
  transition: all .2s;
  border: 1px;
  color: white;
}

.anime-episode .episode-btn {
  margin-right: 10px;
  transition: all .2s;
  color: rgb(50, 50, 50);
  background-color: black;
  border: 1px;
  border-radius: 50%;
  padding: 1%;
  font-size: 1.8em;
}

.anime-episode .episode-btn:active {
  background-color: rgb(40, 40, 40);
  color: rgb(65, 65, 65)
}

.anime-episode.watched {
  color: rgb(255, 49, 49);
}

.anime-episode.watched .watch-icon {
  color: rgb(255, 49, 49);
}

@media (pointer:fine) {
  .anime-episode:hover {
    cursor: pointer;
  }
  .anime-episode .episode-btn:hover {
    background-color: rgb(20, 20, 20);
  }
}

.anime-episode-left .play:active {
  font-size: 3em;
  border: 1px solid white;
}