
.anime-episode {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .2s;
  text-transform: uppercase;
  font-weight: 600;
}

.anime-episode-left {
  width: 85%;
}

.anime-episode-left img {
  width: 25%;
  height: 12%;
  max-width: 220px;
  max-height: 100px;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
}

.anime-episode .episode-btn {
  margin-right: 10px;
  transition: all .2s;
  color: rgb(50, 50, 50);
  background-color: black;
  border: 1px;
  border-radius: 50%;
  padding: 1%;
}

.anime-episode .episode-btn:active {
  background-color: rgb(40, 40, 40);
  color: rgb(65, 65, 65)
}

.anime-episode.watched {
  color: rgb(255, 49, 49);
}

.anime-episode.watched .watch-icon {
  color: rgb(255, 49, 49);
}

@media (pointer:fine) {
  .anime-episode:hover {
    cursor: pointer;
  }
  .anime-episode .episode-btn:hover {
    background-color: rgb(20, 20, 20);
  }
}
