
.home-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  z-index: 100;
}

.home-navbar-icon {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.home-navbar-links a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.1em;
}

.home-navbar-links a:first-child{
  margin-right: 30px;
}
