
.anime-episodes {
  max-width: 1444px;
  margin: 40px auto;
}

.anime-episodes .small-margin {
  border-radius: 5px;
  background-color: rgb(15, 15, 15);
  padding: 20px 10px;
  margin: 0px 15px;
}

.anime-episodes-title {
  font-weight: 100;
  padding: 20px 5px;
}