
.filters-container {
  width: 100%;
}

.filters-form { 
  position: fixed;
  bottom: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 15, 15);
  padding: 10px 15px;
  transition: all .3s ease-out;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  z-index: 1500;
  backface-visibility: hidden;
  gap: 15px;
  max-width: 1444px;
}

.filters-form .placeholder-text-input input {
  background-color: rgb(15, 15, 15);
}

.filters-form .placeholder-text-input input:valid ~ span,
.filters-form .placeholder-text-input input:focus ~ span {
  color: rgb(255, 170, 80);
  background-color: rgb(15, 15, 15);
}

.filters-form .placeholder-text-input input:valid,
.filters-form .placeholder-text-input input:focus {
  border: 2px solid rgb(255, 170, 80);
}

