
.registration-wrapper img {
  width: 80%;
  height: auto;
  margin: 50px 0px;
}

.registration-wrapper {
  display: flex;
  flex-direction: column;
  width: 96%;
  gap: 30px;
  align-items: center;
  padding: 10px;
  max-width: 580px;
  margin: auto;
  transition: .3s;
}

.form-link {
  align-self: flex-end;
  position: relative;
  text-align: right;
  font-weight: bold;
  font-size: .9em;
}