.app-back-topbar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1444px;
  padding: 25px 5px;
  z-index: 1000000;
}

.app-back-topbar h3 {
  font-size: 1.2em;
  color: rgb(200, 200, 200);
  margin-left: 30px;
  margin-bottom: 0px;
}