
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
}