.releated-item {
  display: flex;
  padding: 10px 10px;
  width: 100%;
}

.releated-item-left {
  display: flex;
  flex-direction: column;
}

.releated-item-left img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  max-width: 110px;
}

.releated-item-right {
  width: 100%;
  padding-left: 10px;
}

.releated-item-title {
  font-size: 1em;
}

.releated-item-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.releated-item-tag {
  margin: 2px 2px;
  padding: 5px 15px;
  font-size: .6em;
  background-color: rgb(23, 23, 23);
  border-radius: 5px;
}