
.app-search {
  display: flex;
  flex-direction: column;
  max-width: 1444px;
  margin: auto;
}

.input-suggestions-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-suggestions-wrapper {
  position: relative;
}