.bottom-navbar {
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  background-color: black;
}

.bottom-navbar-link {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-size: .7em;
  transition: .2s;
}

@media (pointer:fine) {
  .bottom-navbar-link:hover {
    background-color: rgb(10, 10, 10);
    color: rgb(145, 145, 145);
  }

  .bottom-navbar-link:active {
    color: rgb(216, 216, 216);
    background-color: rgb(31, 31, 31);
  }
}


.account-alert {
  position: fixed;
  animation: create-account-alert 2s;
  opacity: 0%;
  top: 0%;
  width: 80%;
}

@keyframes create-account-alert {
  0% {
    top: -10%;
    opacity: 100%;
  }

  20% {
    opacity: 100%;
  }

  40% {
    opacity: 100%;
    top: 1%;
  }

  60% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}